.g-text {
    background: -webkit-linear-gradient(45deg, #F09819  51%, #A0522D  100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.wallet {
    cursor: pointer;
}

.modal-bg {
    background-image: radial-gradient( circle, rgb(104, 61, 0) 0%, rgba(49, 27, 0, 0.8) 100% );
}